*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

.videobg{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

header{
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
}

.nav{
	height: 130px;
}


	ul{
		float:right;
		list-style-type: none;
		margin: 20px;
	}

	ul li{
		display: inline-block;
		margin: 10px 5px;
	}

	ul li a{
		text-decoration: none;
		padding: 8px 20px;
		letter-spacing: 2px;
		color: #ff3c64;
		border-bottom: 1px solid red;
		transition: 0.6s ease;
	}

	ul li a:hover{
		background-color: #8DE3E6;
		border-bottom: 1px solid #8DE3E6;
		color: #fff;
	}   

.logo{
	margin: 22px 50px;
	height: 38px;
}

.content{
	position: relative;
	text-align: center;
	color: White;
	top: 200px;
}

.content h1{
	font-size: 62px;
	margin: 35px;
}

.btn{
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
	margin: 5px;
	padding: 7px 28px;
	text-decoration: none;
	border: 2px solid #ff3c64;
	background-color: #ff3c64;
}

.btn:hover{
	background-color: #8DE3E6;
	border-bottom: 1px solid #8DE3E6;
	color: #fff;
} 

.btn2:hover{
	background-color: #ff3c64;
}

.btn2:hover{
	background-color: #8DE3E6;
	border-bottom: 1px solid #8DE3E6;
	color: #fff;
} 

